
body {
    //background: url(https://pic4.zhimg.com/80/v2-fd488df1eb41e9ec70ddd3dbd646c7d0.png);
    background: url(https://framist-bucket-openread.oss-cn-shanghai.aliyuncs.com/img/%E9%94%A4%E5%AD%90.jpg);
    background-color: rgb(226, 226, 226);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:50% 50%;
    background-size: cover;			//将宽度与高度均设为百分百，显然你自己也可以根据情况设置width还是height
}


.content-wrap {
  // background: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: brightness(150%) blur(30px);
  backdrop-filter: brightness(150%) blur(30px);
  // https://get233.com/archives/css3-backdrop-filter.html

  // background-position: center top;
  // background-size: cover;
  // overflow: hidden;
}

// .sidebar {
//   opacity: 0.9;
//   background-color: rgba(150, 25, 25, 0.8);
//   -webkit-backdrop-filter: brightness(150%) blur(30px);
//   backdrop-filter: brightness(150%) blur(30px);

// }

.header-inner { // 标题目录栏
  // background: rgb(255, 255, 255);

  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: brightness(150%) blur(30px);
  backdrop-filter: brightness(150%) blur(30px);

}

.sidebar-inner {
  // background: rgb(255, 255, 255);

  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: brightness(150%) blur(30px);
  backdrop-filter: brightness(150%) blur(30px);

}

// .popup {
//   opacity: 0.9;
//   background-color: rgba(255, 255, 255, 0.8);
//   -webkit-backdrop-filter: brightness(150%) blur(30px);
//   backdrop-filter: brightness(150%) blur(30px);
// }
